name: Windows Build

on:
  push:
  pull_request:

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure (CMake)
        run: cmake -S . -B build -G "Visual Studio 17 2022" -A x64 -DBUILD_GUI=ON

      - name: Build (MSBuild)
        run: cmake --build build --config Release
