name: Build Windows Binary

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg.git
          cd vcpkg
          .\bootstrap-vcpkg.bat

      - name: Install dependencies
        run: |
          .\vcpkg\vcpkg.exe install cgal boost eigen3 cli11 --triplet x64-windows
          .\vcpkg\vcpkg.exe integrate install

       - name: Configure CMake
        run: |
          cmake -B build -S . `
            -DCMAKE_TOOLCHAIN_FILE="${{ github.workspace }}\vcpkg\scripts\buildsystems\vcpkg.cmake" `
            -DCMAKE_BUILD_TYPE=Release `
            -DBUILD_TESTING=OFF

      - name: Build
        run: |
          cmake --build build --config Release

      - name: Upload executable
        uses: actions/upload-artifact@v4
        with:
          name: fabsim-windows
          path: build/Release/*.exe
